.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}
.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 70%);
    align-self: flex-end;
}
#box2{
    background-color: hsl(59, 89%, 43%);
    align-self: center;
}
#box3{
    background-color: hsl(96, 75%, 39%);
    align-self: baseline;
}
#box4{
    background-color: hsl(180, 77%, 28%);
    align-self: center;
}
#box5{
    background-color: hsl(310, 93%, 21%);
    align-self: flex-end;
}