h1 {
    text-shadow: 3px 3px 5px #850b0b, -3px -3px 5px hsl(192, 61%, 41%);
    font-size: 4rem;

}
#box1 {
    width: 400px;
    height: 400px;
    background-color: rgb(234, 234, 234);
    box-shadow: 3px 3px 5px ;
}