<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />

    <bean id="humanHeart" class="com.learning.autowired.SpringAnnotations.Heart">
        <property name="nameOfAnimal" value="Human"/>
        <property name="noOfHeart" value="1"/>
    </bean>
    
    <bean id="octopasHeart" class="com.learning.autowired.SpringAnnotations.Heart">
        <property name="nameOfAnimal" value="Octopas"/>
        <property name="noOfHeart" value="3"/>
    </bean>
    <bean id="human" class="com.learning.autowired.SpringAnnotations.Human"/>
</beans>