<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addressBean" class="com.learning.objecttype.constructorinjection.Address">
        <constructor-arg name="city" value="Johannesburg" />
        <constructor-arg name="country" value="South Africa" />
    </bean>

    <bean id="student" class="com.learning.objecttype.constructorinjection.Student" >
        <constructor-arg name="id" value="101" />
        <constructor-arg name="name" value="Manqasana Lepota" />
        <constructor-arg name="address" ref="addressBean" />
    </bean>
</beans>