a:link {
    color: hsl(221, 100%, 74%);
    font-size: 2em;
}
a:hover {
    color:hsl(221, 100%, 86%);
    font-size: 2em;
}
a:active{
    color: hsl(240, 100%, 58%);
    font-size: 2em; 
}
a:visited{
    color: hsl(0, 0%, 75%);
}
li:hover{
    background-color: yellow;
}
li:not(:hover){
    background-color: gray;
}
li:nth-child(2n){
    background-color: greenyellow;
}
#greeting:hover p{
    background-color: hsl(196, 100%, 81%);
    padding: 10px;
    display: none;

}
#greeting:hover p{
    display: block;
}